<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
    </head>
    <body>
        <h1>Welcome to the login page</h1>
        <h4>Please login to proceed.</h4>
        <form method="post" action="/log-success">
            <input type="text" name="login" placeholder="Enter your username">
            <br><br>
            <input type="password" name="password" placeholder="Enter your password">
            <input type="submit" value="Submit" name="Ok">
        </form>
    </body>
</html>