
<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Регистрация</title>

    <!-- Bootstrap core CSS -->
    <link href="./static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./static/bootstrap/css/signin.css" rel="stylesheet">

  <body class="text-center">
    <form class="form-signin" method="post" action="/log-success">
      <!--<img class="mb-4" src="./static/bootstrap/svg/bootstrap-solid.svg" alt="" width="72" height="72">-->
      <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, зарегистрируйтесь</h1>
        <label for="inputName" class="sr-only">Фамилия и имя</label>
        <input type="text" id="inputName" name="name" class="form-control" placeholder="Ваша фамилия и имя" required="">

        <label for="inputEmail" class="sr-only">E-mail адрес</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Ваш Email" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Ваш пароль" required="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
      <p class="mt-5 mb-3 text-muted">© 2022</p>
    </form>


</body></html>